.timer {
    border: 2px red solid;
    margin-left: 80px;
    width: 90px;
    height: 80px;
    border-radius: 45px/43px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: green;
}