.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.group-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#root {
  background-color: #E9DB92;
}