.question {
    border: 2px solid gray;
    background-color: lightgray;
    width: 80%;
    height: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 500px/160px;
} 

.q-content {
    text-align: center;
}