.answer {
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.button-yes {
    margin-right: 50px;
    transform: rotate(-5deg);
}

.button-no {
    margin-left: 50px;
    transform: rotate(5deg);
}